*{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:  100vh;
    width: 100%;
    background: #222222;
}

input   {
    height: 30px;
    width: 250px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    background: none;
    color: #fff;
    padding: 0 10px;
    outline: none;
}

.enter{
    width: 100px;
    height: 30px;
    font-size: 12px;
    background: none;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    margin-left: 10px;
}

.enter:hover{
    background: whitesmoke;
    color: #222222;
    cursor: pointer;
}

.todo_item{
    position: absolute;
    cursor: move;
    min-width: 215px;
    color: #000;
    padding: 1em;
    border-radius: 5px;
}

.delete{
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    padding: 5px;
}

.delete:hover{
    background: blue;
    cursor: pointer;
    color: #fff;
}